@import url("https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15202b;
  box-sizing: border-box;
  color: #b8bcbf;
  padding: 0;
  margin: 0;
}

html {
  background-color: #15202b;
  color: #b8bcbf;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: rgb(53, 51, 51);
  background-color: #15202b;
}
